<h1>Browse all of the games below:</h1>


<div class="offSetBtns">

  {{#if showPrev}}
  <a href="/games/{{prev}}">

  <div>
  <button type="button" class="btn btn-info">Prev</button>
  &nbsp;&nbsp;&nbsp;
  </div>

  </a>
  {{/if}}
  {{#if next}}
  <a href="/games/{{next}}">

  <button type="button" class="btn btn-info">Next</button>

  </a>
  {{/if}}
</div>

{{#each games}}
<div class="eachGame">
  <span>Game: </span><a href="/games/details/{{this.id}}">{{this.name}}</a>
  <p></p>
  <span>Summary: {{this.summary}}</span>
</div>
{{/each}}

<div class="offSetBtns">
{{#if showPrev}}
<a href="/games/{{prev}}">

<button type="button" class="btn btn-info">Prev</button>

</a>
{{/if}}
{{#if next}}
<a href="/games/{{next}}">

<button type="button" class="btn btn-info">Next</button>

</a>
{{/if}}
</div>