<h2>
  Here are the stats on the game chosen:
</h2>
<h1>
  Name: {{this.game}}
</h1>

<h1>
  Rating: {{this.rating}}
</h1>

<h1>
  Author: {{this.author.username}}
</h1>

<h1>
  Comments: 
    {{#each comments}}
      <ul>
        <li>
          <h4>
            {{this.title}}: <br>
            {{this.comment}}
          </h4>
        </li>
      </ul>
    {{/each}}
</h1>


{{#if theUser}}

<form action="/{{_id}}/comments/create" method="POST">

<label for="">Title:</label>
<input type="text" name="title" required>

<label>Comment: </label>
<textarea name="comment" id="" cols="30" rows="10" required></textarea>

  <button>Comment on This Review</button>
</form>



<a href="/reviews/{{_id}}/edit">Edit This Review</a>
<br>
<br>
<form action="/reviews/{{_id}}/delete" method="POST">
  <button>Delete This Review</button>
</form>
{{else}}
<p>Are you the author of this review?</p>
  <a href="../login">Log in</a><span> to edit/delete this review!</span>
{{/if}}


