<h1>
  Here are the stats on the review chosen:
</h1>
<h2>
  Name: {{this.game}}
</h2>

<h2>
  Rating: {{this.rating}}
</h2>

<h2>
  Review: {{this.review}}
</h2>

<h2>
  Created by: {{this.author.username}}
</h2>

<h2>
  Comments: 
</h2>
{{#if comments}}
    {{#each comments}}
      <div class ="eachComment">
            Posted by: {{theUser.username}} <br>
            Post Title: {{this.title}} <br>
            Comment: {{this.comment}}
      </div>
    {{/each}}
  {{else if comments}}
  <h1>No comments, be the first!</h1>

{{/if}}

{{#if theUser}}

<form action="/{{_id}}/comments/create" method="POST">

<label for="">Title:</label>
<input type="text" name="title" required>

<label>Comment: </label>
<textarea name="comment" id="" cols="30" rows="10" required></textarea>

  <button>Comment on This Review</button>
</form>



<a href="/reviews/{{_id}}/edit">Edit This Review</a>
<br>
<br>
<form action="/reviews/{{_id}}/delete" method="POST">
  <button>Delete This Review</button>
</form>
{{else}}
<p>Got something to say about this review?</p>
  <a href="../signup">Signup</a><span> or</span>
  <a href="../login">Log in</a><span> to comment now!</span>
{{/if}}


