<h1>Edit {{theReview.game}}</h1>

<form action="/reviews/{{theReview._id}}" method="POST">


  <label for="">Game:</label>
  <input type="text" name="name" value="{{theReview.game}}">

  <label for="">Rating:</label>
  <input type="number" name="rating" value="{{theReview.rating}}">

  <label for="">Author:</label>
  <input type="text" name="username" value="{{theReview.username}}">

  <button type="submit">Save Changes</button>


</form>