<h1>Add a new Review below</h1>

<form action="/review/create" method="POST">

  <label for="">Game:</label>
  <input type="text" name="game" required>

  <label for="">Rating:</label>
  <input type="number" name="rating" min="0" max ="10" required>

  <label for="">Author:</label>
  <input type="text" name="username" value="{{theUser.username}}">


<label for="">Author:</label>
  
  <select name="username">

   {{#each allTheReviews}}
    <option value="{{this._id}}">{{this.game}}</option>
   {{/each}}
  </select>

  {{!-- <select name="author">
    
  {{#each allTheReviews}}
    <option value="{{this._id}}">{{this.name}}</option>
   {{/each}}

  </select> --}}

  <button type="submit">ADD</button>


</form>