<h1>Welcome, {{theUser.username}}!</h1>

<h3>Ready to update your profile? Begin!</h3>

<form action="/{{theUser._id}}/update" method="POST" enctype="multipart/form-data">

  <label for="">Avatar:</label>
  <input type="file" name="avatar" value="{{theUser.avatar}}" name='path'>
  <br><br>

  <label for="">First Name:</label>
  <input type="text" name="firstName" value="{{theUser.firstName}}">
  <br><br>

  <label for="">Last Name:</label>
  <input type="text" name="lastName" value="{{theUser.lastName}}">
  <br><br>
  

  <label for="bioEdit">Bio:</label>
  <textarea id="bioEdit" rows="4" cols = '40' name="bio">{{theUser.bio}}</textarea>

  <br><br>

  <button type="submit" value="SAVE">Save Changes</button>


</form>

<div class="spacer"></div>