<h1>Welcome, {{theUser.username}}!</h1>

<p>Have a look at your info below:</p>

<div>

  <img src="{{theUser.avatar}}" alt="Your Profile Pic">
  <br>
  Name:
  {{theUser.firstName}} {{theUser.lastName}}
  <div>

  Bio:
  {{theUser.bio}}

  </div>
  <div>
    Your reviews:
    {{theUser.reviews}}

  </div>
  <div>

    <h4>Need to update your account? <a href="/edit-profile/">Click here</a></h4>

  </div>

</div>

