<h1>Welcome, {{theUser.username}}!</h1>

<p>Have a look at your info below:</p>

<div>

  <img src="{{theUser.avatar}}" alt="Your Profile Pic" class="img-thumbnail">
  <br>
  Full Name:
  {{theUser.firstName}} {{theUser.lastName}}
  <div>

  Bio:
  {{theUser.bio}}

  </div>

  <div>
    Your reviews:
    {{#each theUser.reviews}}
    <ul>
      <li>
      <h4>
        <a href="/reviews/{{this._id}}">{{this.game}}: {{this.rating}}</a>
      </h4>
      </li>
    </ul>
    {{/each}}

  </div>

  <div>
    Your comments:
     {{#each theUser.comments}}
    <ul>
      <li>
      <h4>
        <a href="/comments/{{this._id}}">{{this.title}}</a>
      </h4>
      </li>
    </ul>
    {{/each}}
    Feel bad about a review? Click on them to delete it!
  </div>

  <div>
    Your games:
    
  </div>


  
  <div>

    <h4>Need to update your account? <a href="/profile/{{theUser._id}}/edit-profile">Edit Your Profile</a></h4>

  </div>

</div>

